footer.footer.muted
  ul.footer-nav
    mixin link(imgSrc, imgAlt, href, name)
      li: a(href=href).footer-nav-item
        img(src=imgSrc alt=imgAlt).footer-ico
        | /#{name}
    li &copy; TJ Mazeika
    +link('/assets/github.webp', 'GitHub logo', 'https://github.com/tmazeika', 'tmazeika')
    +link('/assets/linkedin.png', 'LinkedIn logo', 'https://www.linkedin.com/in/tj-mazeika/', 'tj-mazeika')
