header.header
  div
    a(href='/'): img(src='/assets/me.webp' alt='Profile photo').header-img
    .header-title
      h1 TJ Mazeika
      code.subtitle Software Engineer
  nav.header-nav: ul
    mixin link(href, name)
      li
        if pageName === name
          a.active(href=href)= name
        else
          a(href=href)= name
    +link('/', 'About')
    +link('/blog', 'Blog')
