doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/assets/styles.css')
    title #{pageName} - TJ Mazeika
  body
    include header
    main.content
      block content
