* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 400 1.0625em/1.5em 'PT Sans', sans-serif;
  letter-spacing: 0.03125em;
  margin: 0;
  padding: 1rem;
}

h4 {
  font: 400 2.25em/1.5em 'PT Sans', sans-serif;
  letter-spacing: 0.015625em;
  margin: 0;
}

p {
  margin: 1rem 0;
}

small {
  font: 400 0.8125em/1.5em 'PT Sans', sans-serif;
  letter-spacing: 0.025em;
}

a {
  color: #005f84;
}

ul {
  list-style: circle;
  margin: 0;
}

header ul {
  margin: 0 0 1rem;
}

main ul li {
  margin: 1rem 0;
}

footer ul {
  margin: 1rem 0;
}

.horizontal-ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.top-level-section {
  max-width: calc(36em);
  margin: 0 4rem;
}

@media screen and (max-width: calc(36em + 10rem)) {
  .top-level-section {
    margin: 0;
  }
}

footer.top-level-section {
  border-top: 1px solid #aaa;
  margin-top: 2rem;
}

span.hanging-indent {
  display: inline-block;
  padding-left: 1em;
  text-indent: -1em;
}
