extends ../includes/layout

block content
  .post-header
    h2= title
    small.muted= date
  include:md ###FILENAME###

block append scripts
  -
    const article = {
      '@context': 'https://schema.org',
      '@type': 'NewsArticle',
      headline: title,
      datePublished: new Date(date).toISOString(),
      author: {
        '@type': 'Person',
        name: 'TJ Mazeika',
        url: '/',
      },
    };
  script(type='application/ld+json')!= JSON.stringify(article)
