* {
  box-sizing: border-box;
}

body {
  color: #222;
  font: 400 1em/1.5 'Source Sans Pro', serif;

  margin: 0;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-weight: inherit;

  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration-color: #aaa;
}

a:hover {
  text-decoration-color: #666;
}

strong {
  font-weight: 700;
}

pre {
  border-radius: 5px;

  margin: 1rem -1rem;
  padding: 1rem;
  overflow-x: auto;
}

pre.filename {
  background-color: #282c34;
  border-bottom: 1px solid #3d424d;
  border-radius: 5px 5px 0 0;
  color: #7f848e;

  margin: 1rem -1rem 0;
  padding: 0.5rem 1rem 0.5rem;
  overflow-x: auto;
}

pre.filename + pre {
  border-radius: 0 0 5px 5px;

  margin: 0 -1rem 1rem;
  padding: 0.5rem 1rem 1rem;
}

@media (max-width: calc(36em + 2rem)) {
  pre, pre.filename, pre.filename + pre {
    border-radius: 0;
  }
}

code {
  font: 400 1em 'Source Code Pro', monospace;
  letter-spacing: -0.34px;
}

code.subtitle {
  color: #666;
  font-size: 0.75em;
  vertical-align: super;

  margin-top: 0.2rem;
  display: block;
}

pre code {
  font-size: 0.78em;
}

:is(p, ul, ol) code:not(.subtitle) {
  background-color: #f4f4f4;

  margin: 0 0.025rem;
  padding: 0 0.075rem;
}

.muted {
  color: #666;
}

.header, .footer {
  line-height: 1;

  max-width: 50em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.header > * {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem 2.5rem;
}

.header-title h1 {
  margin-bottom: 0.5rem;
}

.header-nav ul, .footer-nav {
  list-style: none;

  margin: 0;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
}

@media (max-width: 470px) {
  .header-nav :is(ul, ol), .footer-nav {
    gap: 1.5rem;
  }
}

.header-nav a {
  text-decoration: none;

  padding: 0.25rem 0;
}

.header-nav a.active {
  border-bottom: 2px solid #ccc;
}

.header-nav a:not(.active):hover {
  border-bottom: 2px solid #e3e3e3;
}

.footer {
  margin-top: 3rem;
  justify-content: unset;
}

.footer-nav {
  padding: 0;
  flex-wrap: wrap;
  row-gap: 0.75rem;
}

.footer-nav-item {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer-ico {
  width: 1em;
  height: 1em;
  display: block;
}

.content {
  max-width: 36em;
  margin: 2rem auto;
}

.content :is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
  margin: 1rem 0;
}

.content ul {
  list-style-type: circle;
}

.content li {
  margin: 0.5rem 0;
}

.post-header h2 {
  margin-bottom: 0.25rem;
}

#disqus_thread {
  margin-top: 2rem;
}
